html{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}



.navbar{
  z-index: 100;
  position: fixed;
  padding: 0;
  height: 7rem;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2px solid #ddd;
  background-color: #fff;
  box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.eta-title-wrapper{
  display: flex;
  justify-content: center;
}

.eta-title{
  color: rgb(255, 45, 45);
}

.eta-title-description{
  margin-top: 10px;
  color: rgb(255, 45, 45);
  text-align: center;
}

.spacing:after{
  content: "";
  clear: both;
  display: table;
  height: 7rem;
}

.loading{
  width: 300%;
  height: 100vh;
}
.prev-next{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prev-next-btns button{
  color: #eee;
  margin: 1rem 1rem;
  padding: .5rem 2rem;
  font-weight: 800;
  border-radius: .6rem;
  background-color: #f44336;
  border: .5px solid #444;
  text-align: center;
  transition: all .2s;
}

.prev-next button:hover{
  background-color: rgb(204, 19, 32);

}

.article-container{
  display:grid;
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  grid-template-rows: repeat(3, minmax(15rem, 1fr)) ;
  margin: 20px auto;
}

.article-card{
  font-size: 1rem;
  height: 15rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-card-author{
  text-align: center;
}

.article-card-content{
  height:1.4rem;
  width: 85%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


.article-card-status, .article-detail-status{
  list-style: none;
  border-bottom: .1px solid #ddd;
  padding: 0 0 1rem 0;
  width: 90%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.article-detail-status{
  justify-content: flex-end;
}

.article-card-likes, .article-detail-likes{
  padding: 0 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  background-image: url(https://everytime.kr/images/new/container.articles.vote.png);
}

.article-card-comments-length, .article-detail-comments-length{
  padding: 0 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  background-image: url(https://everytime.kr/images/new/container.articles.comment.png);
}

.article-card-scraps, .article-detail-scraps{
  padding: 0 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  background-image: url(https://everytime.kr/images/new/container.articles.scrap.png);
}

.go-to-eta{
  border: .3px solid rgb(128, 128, 128);
  background-color: rgb(209, 227, 255);
  width: 60%;
  margin-top: 1rem;
  padding: .5rem 2rem;
  text-align: center;
  border-radius: 1rem;
  color: #222;
  transition: all .2s;
}

.go-to-eta:hover{
  background-color: rgb(176, 206, 255);
}

.go-to-detail{
  border: .3px solid rgb(128, 128, 128);
  background-color: rgb(252, 82, 82);
  margin-top: .5rem;
  width: 60%;
  padding: .5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  color: #eee;
  transition: all .2s;

}

.go-to-detail:hover{
  color: #eee;
  background-color: rgb(250, 59, 59);
}


.article-detail-container{
  margin: 20px auto;
  border: .2px solid #ddd;
  padding: 2rem;
}

.article-detail-upper{
  display: flex;
  width: 100%;
}

.article-detail-upper-left{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.article-detail-upper-right{
  display: flex;
  justify-content: flex-end;
  align-self:flex-start;
  width: 10%;
}

.article-detail-back{
  float: right;
  font-size: 3rem;
  font-weight: 800;
  background-color: #f44336;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
  color: #eee;
  transition: all .2s;
}

.article-detail-back:hover{
  background-color: #ff2c1d;
  color: #aaa;
}

.article-detail-author{
  display: inline-block;
  font-size: 1rem;
  margin: 1rem;
}

.article-detail-content{
  display: inline-block;
  width: 80%;
  line-height: 1.5;
  margin: 1rem;
  font-size: 1rem;
}

.article-detail-comment-wrapper{
  border: .1px solid #bbb;
  padding: 1rem 1rem;
  border-radius: .2rem;
  margin: 1rem;
  display: flex;
}

.article-detail-status-wrapper{
  margin: 2rem 0;
}

.article-detail-comment{
  line-height: 1.5;
  font-size: 1rem;
}

.article-detail-comment-like{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.article-detail-comment-like span{
  padding: 0 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  background-image: url(https://everytime.kr/images/new/container.articles.vote.png);
}

.comment-child{
  margin-left: 5rem;
}

.loader-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader-text{
  text-align: center;
  font-size: 1.6rem;
  color: #555;
}