html{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}



.navbar{
  z-index: 100;
  position: fixed;
  padding: 0;
  height: 7rem;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2px solid #ddd;
  background-color: #fff;
  box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}
.spacing:after{
  content: "";
  clear: both;
  display: table;
  height: 10rem;
}
.prev-next{
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.prev-next > li{
  display: flex;
  flex-direction: row;
}

.prev-next button{
  color: #eee;
  margin: 1rem 1rem;
  padding: .2rem 3rem;
  font-weight: 800;
  border-radius: .6rem;
  background-color: #f44336;
  border: .5px solid #444;
  text-align: center;
  transition: all .2s;
}

.prev-next button:hover{
  background-color: rgb(204, 19, 32);

}


.article-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.article-card{
  font-size: 1rem;
  height: 30rem;
}

.content{
  height:4.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status{
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.likes{
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  background-image: url(https://everytime.kr/images/new/container.articles.vote.png);
}

.comments-length{
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  background-image: url(https://everytime.kr/images/new/container.articles.comment.png);
}

.scraps{
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  background-image: url(https://everytime.kr/images/new/container.articles.scrap.png);
}