
.navbar{
  z-index: 100;
  position: fixed;
  padding: 0;
  height: 90px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2px solid #ddd;
  background-color: #fff;
  box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.navbar > a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar > a > div > h1, h6{
  text-decoration: none;
}

.spacing{
  height: 110px;
}

.loading{
  width: 300%;
  height: 100vh;
}
.prev-next{
  display: flex;
  justify-content: center;
}
.prev-next > li{
  display: flex;
  flex-direction: row;

}

.article-container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.content{
  height:45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.status{
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.likes{
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  background-image: url(https://everytime.kr/images/new/container.articles.vote.png);
}

.comments-length{
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  background-image: url(https://everytime.kr/images/new/container.articles.comment.png);
}

.scraps{
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
  background-image: url(https://everytime.kr/images/new/container.articles.scrap.png);
}